@using Mvc.Mailer
@using WellaMates.Models
@{
    var monthly = (Monthly)ViewBag.Monthly;
    var controller = (string)ViewBag.Controller;
    var paymentDay = (string) ViewBag.PaymentDay;
}


<p>Você recebeu uma resposta de @ViewBag.Sender na requisição do mês de "@monthly.Month":</p>
<br/>
<div style="text-align: left; margin-bottom: 10px;">
    <p style="white-space: pre-wrap; border-bottom: 2px #D30F44 solid"><b>Resposta:</b> 
        O Pagamento do Reembolso foi Confirmado para o dia <b>@paymentDay</b>.</p>
</div>
<br/>
<strong><a href="@Url.Abs(@Url.Action("MonthlyDetail", controller, new { @id = monthly.MonthlyID }))">Ver Requisição do Mês de "@monthly.Month"</a></strong>
<br/>
<br/>
<p>
    Atenciosamente,<br/>
    Equipe <strong>Wella Educação</strong>
</p>

