@using Mvc.Mailer
@using WellaMates.Models
@{
    var Event = (Event)ViewBag.Event;
    var controller = (string)ViewBag.Controller;
    var paymentDay = (string)ViewBag.PaymentDay;
}


<p>Você recebeu uma resposta de @ViewBag.Sender na requisição de reembolso do evento "@Event.Name":</p>
<br/>
<div style="text-align: left; margin-bottom: 10px;">
    <p style="white-space: pre-wrap; border-bottom: 2px #D30F44 solid"><b>Resposta:</b> 
        O Pagamento do Reembolso foi Confirmado para o dia <b>@paymentDay</b>.</p>
</div>
<br/>
<strong><a href="@Url.Abs(@Url.Action("EventDetail", controller, new { @id = Event.EventID }))">Ver Requisição do Evento "@Event.Name"</a></strong>
<br/>
<br/>
<p>
    Atenciosamente,<br/>
    Equipe <strong>Wella Educação</strong>
</p>

