@using WellaMates.Helpers
@using WellaMates.Extensions
@model IList<WellaMates.Models.RefundItemUpdate>

@using (Html.Bootstrap().Begin(new Table().Striped().Hover()))
{

    <tr>
        <th class="hidden-xs hidden-sm">
            #
        </th>
        <th>
            Quando
        </th>
        <th>
            Status
        </th>
        <th>
            Autor
        </th>
    </tr>
    foreach (var item in Model.Reverse())
    {
        <tr>
            <td class="hidden-xs hidden-sm">
                @Html.DisplayFor(modelItem => item.RefundItemUpdateID)
            </td>
            <td>
                @item.Date.ToString("dd/MM/yyyy")<br/>
                @item.Date.ToString("H:mm:ss")
            </td>
            <td>
                @{ Html.RenderPartial("_RefundItemStatusPartial", item.Status); }<br/>
                @{ Html.RenderPartial("_RefundItemStatusNamePartial", item.Status); }
            </td>
            <td>
                @item.RefundProfile.User.PersonalInfo.Name.MaxChars(20)
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <p>@Html.DisplayFor(modelItem => item.Comment)</p>
                @if (item.Files != null && item.Files.Count > 0)
                {
                    Html.RenderPartial("_RefundItemsFilesSmallPartial", AzureBlobSA.ProcessFiles(item.Files).ToList());
                }
            </td>
        </tr>
    }
}