@model WellaMates.Models.LocalPasswordModel

<h3>Mudar Senha</h3>

@using (var f = Html.Bootstrap().Begin(new Form("Manage", "Account").Type(FormType.Horizontal)))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    @f.FormGroup().PasswordFor(m => m.OldPassword);
    @f.FormGroup().PasswordFor(m => m.NewPassword);
    @f.FormGroup().PasswordFor(m => m.ConfirmPassword);
}
