@model WellaMates.Models.ChangePasswordModel

@{
    ViewBag.Title = "Mudar Senha";
    Layout = "~/Views/Shared/_LayoutAllUsers.cshtml";
}

<div class="login-title image-glow hidden-xs">
    Mudar<br/>
    <div class="fade-line-left"></div><i>Minha</i><div class="fade-line-right"></div><br/>
    <b>Senha</b>
</div>

<section id="pre-register-form">

    @using (var f = Html.Bootstrap().Begin(new Form().Type(FormType.Horizontal).InputWidthMd(7)))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()

        @Html.HiddenFor(m => m.UserName);
        @Html.HiddenFor(m => m.Token);

        @f.FormGroup().PasswordFor(m => m.NewPassword).Label().WidthMd(5)
        @f.FormGroup().PasswordFor(m => m.ConfirmPassword).Label().WidthMd(5)
        @Html.Bootstrap().SubmitButton().AppendIcon("glyphicon glyphicon-chevron-right").Text("Modificar Senha").Class("forgot-pass-bt")
    }

</section>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
