@model WellaMates.Models.Event

<div class="info-container clearfix">
    
    <div class="col-md-6 col-sm-12 clearfix fixed-height">
        <img src="~/Content/images/empty.png" class="icons" style="background-position: 0 -140px" title="Evento"/>
        <h3 class="hidden-xs">Evento</h3>
        <div class="info-content">
            <p>@Model.Name</p>
        </div>
    </div>
    
    <div class="col-md-6 col-sm-6 clearfix fixed-height">
        <img src="~/Content/images/empty.png" class="icons" style="background-position: -70px -140px" title="Requerente"/>
        <h3 class="hidden-xs">Criado por</h3>
        <div class="info-content">
            <p class="text-name">@Model.Freelancer.RefundProfile.User.PersonalInfo.Name</p>
        </div>
    </div>

    <div class="col-md-4 col-sm-6 clearfix fixed-height">
        <img src="~/Content/images/empty.png" class="icons" style="background-position: -350px -70px" title="Data do Evento"/>
        <h3 class="hidden-xs">Início</h3>
        <div class="info-content">
            <p>@Model.StartDate.ToString("dd/MM/yyyy")</p>
        </div>
    </div>
    
    <div class="col-md-4 col-sm-6 clearfix fixed-height">
        <img src="~/Content/images/empty.png" class="icons" style="background-position: -350px -70px" title="Data do Evento"/>
        <h3 class="hidden-xs">Fim</h3>
        <div class="info-content">
            <p>@Model.EndDate.ToString("dd/MM/yyyy")</p>
        </div>
    </div>

    <div class="col-md-4 col-sm-6 clearfix fixed-height">
        <img src="~/Content/images/empty.png" class="icons" style="background-position: -140px -140px" title="Código"/>
        <h3 class="hidden-xs">Código</h3>
        <div class="info-content">
            <p>@Model.EventID</p>
        </div>
    </div>
    
    
    <div class="col-xs-12 clearfix">
        <h3 style="text-align: left;">Comentários</h3>
        <p style="text-align: justify;">@Model.Comments</p>
    </div>

</div>