@using WellaMates.ViewModel
@model System.Collections.Generic.List<WellaMates.ViewModel.RewardItemVM>

<div class="tier-rewards-container">
    <div style="width: 100%; border-bottom: 2px #7c1012 dotted;"></div>
    @foreach (var item in Model)
    {
        <div class="tier-rewards-item" id="@item.Id">
            <div id="brief-@item.Id">
                <div style="display: inline-block; position: relative; width:25%; margin: 10px; vertical-align: top;">
                    <img class="lazy-scroll" data-original="@item.ThumbnailUrl" alt="Imagem @item.Id?width=250" style="height: auto; width: 100%;" />
                </div>
                <div style="display: inline-block; position: relative; width:70%; margin-right:10px; margin-bottom: 10px;">
                    <h4 style="min-height: 54px;">@item.Name</h4>
                    @Html.Bootstrap().Button().Id("item-bt-" + item.Id).HtmlAttributes(new { @onclick = "ShowForm('" + item.Id + "')" }).Text("Saiba Mais!").Size(ButtonSize.Default).ButtonBlock()
                </div>
            </div>
            
            <div id="complete-@item.Id" style="display: none;">
                <h3 class="tier-reward-title">@item.Name</h3>
                <div class="carousel-tier-rewards">
                    @using (var c = Html.Bootstrap().Begin(new Carousel("carousel-rewards-" + item.Id)))
                    {
                        foreach (var rewardImageUrl in item.ImagesUrls)
                        {
                            using (c.CustomItem())
                            {
                                <img class="lazy-event" data-original="@rewardImageUrl" alt="Imagem Ilustrativa"/>
                            }
                        }
                    }
                </div>
                <div class="tier-reward-content">
                    @if (item.Description != null)
                    {
                        <br/>
                        <div>@item.Description</div>
                    }
                    @if (item.Category == RewardCategory.EXPERIENCE)
                    {
                        var exp = item as RewardExperienceVM;
                        if (exp != null)
                        {
                            if(exp.Included != null)
                            {
                                <div style="width: 100%; border-bottom: 2px #7c1012 dotted; margin: 20px 0;"></div>
                                <h4>INCLUI</h4>
                                { Html.RenderPartial("_ListPartial", exp.Included); }
                            }

                            if (exp.NotIncluded != null)
                            {
                                <div style="width: 100%; border-bottom: 2px #7c1012 dotted; margin: 20px 0;"></div>
                                <h4>NÃO INCLUI</h4>
                                { Html.RenderPartial("_ListPartial", exp.NotIncluded); }
                            }

                            if (exp.Location != null)
                            {
                                <div style="width: 100%; border-bottom: 2px #7c1012 dotted; margin: 20px 0;"></div>
                                <h4>LOCALIZAÇÃO</h4>
                                <p>@exp.Location</p>
                            }

                            if (exp.Important != null)
                            {
                                <div style="width: 100%; border-bottom: 2px #7c1012 dotted; margin: 20px 0;"></div>
                                <h4>IMPORTANTE</h4>
                                { Html.RenderPartial("_ListPartial", exp.Important); }
                            }
                        }
                        
                        <div style="width: 100%; border-bottom: 2px #7c1012 dotted; margin: 20px 0;"></div>
                        <div style="text-align: left">
                            <h4>CONDIÇÕES GERAIS DE TODAS AS EXPERIÊNCIAS:</h4>
                            <ul>
                                <li>
                                    AS EXPERIÊNCIAS SÃO VÁLIDAS ATÉ JUNHO/2014 (DEVIDO A COPA DO MUNDO, HÁ RESTRIÇÃO DE 06/JUNHO A 30/JULHO).
                                </li>
                                <li>
                                    DEPOIS DE AGENDADO, ALTERAÇÕES OU CANCELAMENTOS ESTARÃO SUJEITOS A MULTAS OU CANCELAMENTOS.
                                </li>
                                <li>
                                    NÃO É VÁLIDO PARA FERIADOS, CONGRESSOS, EVENTOS CORPORATIVOS OU GRUPOS.
                                </li>
                                <li>
                                    ALGUMAS EXPERÊNCIA TÊM RESTRIÇÃO PARA DETERMINADOS PERÍODO, POR FAVOR CONSULTAR NO ITEM ‘IMPORTANTE’
                                </li>
                                <li>
                                    ESTE PROGRAMA ESTA SUJEITO A ALTERAÇÕES SEM AVISO PRÉVIO E A DISPONIBILIDADE DE LUGARES NO ATO DA RESERVA.
                                </li>
                                <li>
                                    TODAS AS VIAGENS E EXPERIÊNCIAS ESTÃO SUJEITAS A ALTERAÇÕES E MODIFICAÇÕES PARA SE ADEQUAREM COM A VERBA DISPONÍVEL. ISSO ESTÁ SUJEITO A ACONTECER DEVIDO AO LONGO PRAZO DADO PARA OS AGENDAMENTOS, A VARIAÇÃO NA COTAÇÃO DO DÓLAR, ALTERAÇÃO NO VALOR DAS PASSAGENS AÉREAS, ALTERAÇÃO NOS VALORES DOS SERVIÇOS INCLUSOS E ETC. ESSAS ADEQUAÇÕES NO ROTEIRO CASO ACONTEÇA PODERÃO SER: REDUÇÃO NA CLASSE DO HOTEL, REDUÇÃO NO NUMERO DE DIAS, DIMINUIÇÃO NOS ITENS INCLUSOS, MUDANÇA DO DESTINO E ETC.
                                </li>
                            </ul>
                        </div>
                    }
                </div>
                @Html.Bootstrap().Button().HtmlAttributes(new { @onclick = "ShowForm(null)" }).Text("Esconder").Size(ButtonSize.Default).ButtonBlock()
            </div>            
        </div>
        
        <div style="width: 100%; border-bottom: 2px #7c1012 dotted;"></div>
    }
</div>

<script type="text/javascript">
    var currentItemBrief, currentItemComplete, currentItemId;
    function ShowForm(itemId) {
        if (currentItemBrief != null) {
            currentItemBrief.slideDown();
        }
        if (currentItemComplete != null) {
            currentItemComplete.slideUp();
        }

        currentItemId = itemId;
        if (currentItemId == null) {
            currentItemBrief = null;
            currentItemComplete = null;
        } else {
            currentItemBrief = $("#brief-" + currentItemId);
            currentItemComplete = $("#complete-" + currentItemId);
            currentItemComplete.find("img.lazy-event").trigger("load-image");
        }

        if (currentItemBrief != null) {
            currentItemBrief.slideUp();
        }
        if (currentItemComplete != null) {
            currentItemComplete.slideDown();
        }
    }
</script>
